.my-bg{
    background-image: url('../assets/images/bg-sidebar-desktop.svg') !important;
    background-size: cover; /* Adjust how the image fits */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}